<header id="masthead">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
                    tex2jax: {inlineMath: [['$','$']]}
                            });
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
